<nav class="navbar">
  <a class="navbar__brand" href="/">PJX</a>
  <ul class="navbar__links">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/counter">Counter</a></li>
    <li><a href="/todos">Todos</a></li>
    <li><a href="/clock">Clock</a></li>
    <li><a href="/search">Search</a></li>
  </ul>
</nav>
