---
import SearchResult from "./SearchResult.jinja"

props {
  results: list = [],
  query: str = "",
}
---

<Show when="not props.query">
  <p class="search__empty">Type to search users...</p>
  <Else>
    <Show when="props.results">
      <For each="props.results" as="user">
        <SearchResult name="{{ user.name }}" email="{{ user.email }}" avatar="{{ user.avatar }}" />
      </For>
      <Else>
        <p class="search__empty">No results for &ldquo;{{ props.query }}&rdquo;</p>
      </Else>
    </Show>
  </Else>
</Show>
