---
props UserCardProps = {
  name: str,
  email: str,
  avatar: str = "/static/default-avatar.png",
}

slot actions
---

<div class="user-card">
  <img class="user-card__avatar" src="{{ props.avatar }}" alt="{{ props.name }}" />
  <div class="user-card__info">
    <h3>{{ props.name }}</h3>
    <p>{{ props.email }}</p>
  </div>
  <Slot:actions />
</div>
