{% import css "/static/css/components/ui/button.css" %}
{% set ButtonProps = {
  "variant": Literal["default", "secondary", "outline", "ghost"] = "default",
  "size": Literal["sm", "md", "lg", "icon"] = "md",
  "type": str = "button",
  "disabled": bool = false
} %}

{% component Button %}

  {% props ButtonProps %}

  {% computed classes %}
    {{ "btn btn-" ~ variant ~ " btn-" ~ size }}
  {% endcomputed %}

  <button {{ attrs.render(type=type, class=classes, disabled=disabled) }}>
    {{ content }}
  </button>
{% endcomponent %}
