{% import css "/static/css/components/ui/checkbox.css" %}

{% component Checkbox %}

  {% props
    name: Optional[str] = None,
    value: str = "true",
    checked: bool = false,
    disabled: bool = false,
    id: Optional[str] = None,
    label: Optional[str] = None
  %}

  <label class="checkbox">
    <input
      {{ attrs.render(
        id=id or name,
        name=name,
        type="checkbox",
        value=value,
        checked=checked,
        disabled=disabled,
        class="checkbox-input"
      ) }}
    >
    <span class="checkbox-control" aria-hidden="true"></span>
    <span class="checkbox-copy">{{ content or label }}</span>
  </label>
{% endcomponent %}
