{% import css "/static/css/components/ui/field.css" %}

{% component Field %}

  {% props
    label: str,
    for_id: Optional[str] = None,
    hint: Optional[str] = None,
    error: Optional[str] = None,
    required: bool = false
  %}

  {% computed classes %}
    {{ "field field-invalid" if error else "field" }}
  {% endcomputed %}

  <div {{ attrs.render(class=classes) }}>
    <div class="field-header">
      <label class="field-label" for="{{ for_id }}">
        <span>{{ label }}</span>
        <If when="required">
          <span class="field-required">*</span>
        </If>
      </label>

      <If when="error">
        <span class="field-inline-error">{{ error }}</span>
      </If>
    </div>

    <div class="field-control">
      {{ content }}
    </div>

    <If when="error">
      <p class="field-message field-message-error">{{ error }}</p>

      <Else>
        <If when="hint">
          <p class="field-message">{{ hint }}</p>
        </If>
      </Else>
    </If>
  </div>
{% endcomponent %}
