{% import css "/static/css/components/ui/list.css" %}

{% component List %}

  {% props
    items: list = [],
    divided: bool = true,
    compact: bool = false
  %}

  {% slot item(value, index) %}{% endslot %}
  {% slot empty %}{% endslot %}

  {% computed classes %}
    {{ "list list-compact list-divided" if compact and divided else
       "list list-compact" if compact else
       "list list-divided" if divided else
       "list" }}
  {% endcomputed %}

  <ul {{ attrs.render(class=classes) }}>
    <If when="items">
      {% for value in items %}
        <li class="list-item">
          {{ slot.item(value=value, index=loop.index0) }}
        </li>
      {% endfor %}

      <Else>
        <li class="list-empty">
          {{ slot.empty or "Nothing here yet." }}
        </li>
      </Else>
    </If>
  </ul>
{% endcomponent %}
