{% import css "/static/css/components/ui/select.css" %}

{% component Select %}

  {% props
    name: Optional[str] = None,
    value: str = "",
    options: list = [],
    placeholder: Optional[str] = None,
    invalid: bool = false,
    disabled: bool = false,
    id: Optional[str] = None
  %}

  {% computed classes %}
    {{ "select select-invalid" if invalid else "select" }}
  {% endcomputed %}

  <select
    {{ attrs.render(
      id=id or name,
      name=name,
      class=classes,
      disabled=disabled,
      aria_invalid="true" if invalid else None
    ) }}
  >
    <If when="placeholder">
      <option value="" selected="{{ not value }}" disabled>{{ placeholder }}</option>
    </If>

    <For each="options" as="option">
      <option
        value="{{ option.value if option.value is defined else option }}"
        selected="{{ (option.value if option.value is defined else option) == value }}"
        disabled="{{ option.disabled if option.disabled is defined else false }}"
      >
        {{ option.label if option.label is defined else option }}
      </option>
    </For>
  </select>
{% endcomponent %}
