---
props {
  message: str,
  variant: str = "success",
}
---

<div class="toast toast--{{ props.variant }}" {{ attrs }} x-data x-init="setTimeout(() => $el.remove(), 3000)">
  {{ props.message }}
</div>
