{% import css "/static/components/ui/button.css" %}
{% set ButtonProps = {
  "variant": Literal["default", "secondary", "outline", "ghost"] = "default",
  "size": Literal["sm", "md", "lg", "icon"] = "md",
  "type": str = "button",
  "disabled": bool = false
} %}

{% component Button %}

  {% props ButtonProps %}

  {% inject theme %}

  {% computed classes %}
    {{ "btn btn-" ~ variant ~ " btn-" ~ size ~ " theme-" ~ theme }}
  {% endcomputed %}

  <button
    type="{{ type }}"
    class="{{ classes }}"
    {% if disabled %}disabled{% endif %}
    {{ attrs }}
  >
    {{ content }}
  </button>
{% endcomponent %}
