{% import css "/static/components/ui/status-badge.css" %}

{% component StatusBadge %}

  {% props
    status: Literal["draft", "building", "ready", "failed"] = "draft"
  %}

  {% computed classes %}
    {{ "status-badge status-" ~ status }}
  {% endcomputed %}

  <span class="{{ classes }}">
    {{ status }}
  </span>
{% endcomponent %}
